      {% set next13 = -1 %}
      {% set next46 = -1 %}
      {% set next80 = -1 %}
      {% for row in conns %}
      	{% if row.cancelled == False %}
		{% if row.product.line == '13' %}
			{% if 'Albisg' in row.product.direction %}
				{% set time = row.mainLocation.countdown|int + row.mainLocation.realTime.delay|int %}
				{% if next13 | int < 0 %}
					{% set next13 = time %}
					{% set time13 = time %}
					{{ time13 }}
				{% endif %}
			{% endif %}
		{% elif row.product.line == '46' %}
			{% if 'Bahnhofquai' in row.product.direction %}
				{% set time = row.mainLocation.countdown|int + row.mainLocation.realTime.delay|int %}
				{% if next46 | int < 0 %}
					{% set next46 = time %}
					{% set time46 = time %}
					{{ time46 }}
				{% endif %}
			{% endif %}
		{% elif row.product.line == '80' %}
			{% if 'Oerlikon' in row.product.direction %}
				{% set time = row.mainLocation.countdown|int + row.mainLocation.realTime.delay|int %}
				{% if next80 | int < 0 %}
					{% set next80 = time %}
					{% set time80 = time %}
					{{ time80 }}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
      {% endfor %}
      {{ time13 }}
      {{ time46 }}
      {{ time80 }}
